In [1]:
#Data (install packages)
import pandas as pd
import numpy as np

In [24]:
#Read the data
data = pd.read_csv('yellow_tripdata.csv')

/Users/aileenzaman/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
#Getting to know the data
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 879.6+ MB

In [27]:
#Are there any missing values?
data.isnull().sum()

VendorID                 65441
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          65441
trip_distance                0
RatecodeID               65441
store_and_fwd_flag       65441
PULocationID                 0
DOLocationID                 0
payment_type             65441
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [6]:
#Cleaning the dataset
data.dropna(inplace = True)

In [7]:
#Checking to see if the null values have been removed
data.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [8]:
#Extracting two columns
location=data[['PULocationID','DOLocationID']]
print(location)

         PULocationID  DOLocationID
0                 238           239
1                 239           238
2                 238           238
3                 238           151
4                 193           193
...               ...           ...
6339562           163           246
6339563           164            79
6339564            79            68
6339565           100           142
6339566           193           193

[6339567 rows x 2 columns]

In [9]:
#Using kMeans clustering to create 5 boroughs/clusters for NYC
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
X=location
y_kmeans = kmeans.fit_predict(X)

In [10]:
y_kmeans

array([3, 3, 3, ..., 2, 0, 3], dtype=int32)

In [14]:
data['Clusters']=y_kmeans

In [15]:
data.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,Clusters
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,3
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,3
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,3
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,4
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,3
5,2.0,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,N,7,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0,0 days 00:00:53,1
6,2.0,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.01,0.0,0.3,3.81,0.0,0 days 00:00:04,3
7,2.0,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,N,193,193,1.0,0.01,0.0,0.0,0.00,0.0,0.3,2.81,2.5,0 days 00:01:10,3
8,2.0,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.00,0.0,0.3,6.30,2.5,0 days 00:01:00,3
9,1.0,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,N,246,48,1.0,8.00,3.0,0.5,2.35,0.0,0.3,14.15,2.5,0 days 00:11:27,4
10,1.0,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,2.40,1.0,N,246,79,1.0,12.00,3.0,0.5,1.75,0.0,0.3,17.55,2.5,0 days 00:16:52,4
11,1.0,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,0.80,1.0,N,163,161,2.0,9.50,3.0,0.5,0.00,0.0,0.3,13.30,2.5,0 days 00:14:26,0
12,1.0,2020-01-01 00:56:27,2020-01-01 01:21:44,1.0,3.30,1.0,N,161,144,1.0,17.00,3.0,0.5,4.15,0.0,0.3,24.95,2.5,0 days 00:25:17,0
13,2.0,2020-01-01 00:21:54,2020-01-01 00:27:31,1.0,1.07,1.0,N,43,239,1.0,6.00,0.5,0.5,1.96,0.0,0.3,11.76,2.5,0 days 00:05:37,1
14,2.0,2020-01-01 00:38:01,2020-01-01 01:15:21,1.0,7.76,1.0,N,143,25,1.0,28.50,0.5,0.5,4.84,0.0,0.3,37.14,2.5,0 days 00:37:20,2
15,1.0,2020-01-01 00:15:35,2020-01-01 00:27:06,3.0,1.60,1.0,N,211,234,2.0,9.00,3.0,0.5,0.00,0.0,0.3,12.80,2.5,0 days 00:11:31,3
16,1.0,2020-01-01 00:41:20,2020-01-01 00:44:22,1.0,0.50,1.0,Y,234,90,1.0,4.00,3.0,0.5,1.00,0.0,0.3,8.80,2.5,0 days 00:03:02,4
17,1.0,2020-01-01 00:56:38,2020-01-01 01:13:34,1.0,1.70,1.0,N,246,142,2.0,11.50,3.0,0.5,0.00,0.0,0.3,15.30,2.5,0 days 00:16:56,4
18,2.0,2020-01-01 00:08:21,2020-01-01 00:25:29,1.0,8.45,1.0,N,138,216,2.0,24.50,0.5,0.5,0.00,0.0,0.3,25.80,0.0,0 days 00:17:08,1
19,1.0,2020-01-01 00:25:39,2020-01-01 00:27:05,1.0,0.00,1.0,N,170,162,4.0,3.00,3.0,0.5,0.00,0.0,0.3,6.80,2.5,0 days 00:01:26,0

In [11]:
#Converting from string to date
from datetime import datetime
data['tpep_pickup_datetime']= pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime']= pd.to_datetime(data['tpep_dropoff_datetime'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6339567 entries, 0 to 6339566
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 919.0+ MB

In [16]:
#Calculating trip duration
data['TripDuration']= (data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime'])/np.timedelta64(1,'s') 
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,Clusters,TripDuration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,3,288.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,3,445.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,3,371.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,4,291.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,3,138.0

In [17]:
X = data[['trip_distance','Clusters','TripDuration']]
y = data.total_amount
X.shape

(6339567, 3)

In [18]:
import sklearn.linear_model
import matplotlib.pyplot as plt
#Calling the model
model = sklearn.linear_model.LinearRegression()

#Fit the model on the data
model.fit(X,y)

#Predicting the ys
y_pred = model.predict(X) #Use X to predict y
print(y_pred)

[12.96494109 12.97623388 10.99172406 ... 17.48598339 14.39318232
  8.99045485]

In [19]:
#Accuracy
r_sq = model.score(X,y)
print(r_sq)

0.7216539486231097